doctype html

html(ng-app='ngApp')
  head
    title ngApp
    meta(charset='utf8')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width')

    //build:css(src) styles/vendor.css
    //bower:css
    //run 'gulp inject' to automatically populate bower styles dependencies
    //endbower
    //endbuild

    // build:css(.tmp/demo) styles/app.css
    // inject:css
    // css files will be automatically insert here
    // endinject
    // endbuild

    //build:js(src) scripts/vendor.js
    //bower:js
    //run `gulp inject` to automatically populate bower script dependencies
    //endbower
    //endbuild

    //build:js(src) scripts/index.js
    //inject:js
    //js files will be automatically insert here
    //endinject
    //endbuild

  body
    ui-view
